name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version: ['28.1', '28.2', '29.1', '29.4']

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Emacs
        uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs-version }}

      - name: Show Emacs version
        run: make elisp-version

      - name: Install dependencies
        run: |
          emacs -Q --batch -l package --eval "(package-initialize)" --eval "(package-refresh-contents)" --eval "(package-install 'request)"

      - name: Test module loading
        run: make elisp-load-test

      - name: Byte compile
        run: make compile

      - name: Run tests
        run: make test-all
